
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* ----- HEADER ----- */

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: darkred;
}

/* Logo */

.text-logo {
    font-size: 1.6rem; /* Tambien puede ser px (26px) */
    font-weight: bold;
}

/* ----- NAV ----- */

.nav-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Lista de opciones */
.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Estilo de los enlaces
.nav-list a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #374151;
    position: relative;
    transition: color .3s;
}

.nav-list a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2563eb;
    transition: width .3s;
}

.nav-list a:hover {
    color: #2563eb;
}

.nav-list a:hover::after {
    width: 100%;
}

*/


/* comportamiento al pasar el cursor */


/* ========== SWITCH ==========*/

.language-switch {
    display: flex;
    align-items: center;
    gap: 8px;
}

.lang-label {
    font-size: 0.9rem;
    font-weight: 500;
}


/* Ocultar el input (Checkbox) */
.lang-input {
    position: absolute;
    opacity: 0;
}

/* Switch base */
.switch {
    width: 46px;
    height: 24px;
    background: #a5b1c5;
    border-radius: 24px;
    position: relative; /* Para posicionar la perilla */
    cursor: pointer;
    transition: background .3s;
}

/* Perilla */
.switch::after {
    content: "";
    position: absolute; /* Posicionamiento absoluto dentro del switch */
    top: 3px; /* Centrado verticalmente */
    left: 3px; /* Posición inicial a la izquierda */
    width: 18px; /* Tamaño de la perilla */
    height: 18px; /* Tamaño de la perilla */
    background: #8c4747;
    border-radius: 50%;
    transition: transform .3s;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/* Estado activado */
.lang-input:checked + .switch {
    background: #2563eb;
}

.lang-input:checked + .switch::after {
    transform: translateX(22px);
}






