
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: darkred;
}



.nav-bar {
    display: flex;

}


.nav-list {
    display: flex;
    list-style: none;
}




